body{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  background-color: rgb(216, 216, 216);
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Fjalla One', sans-serif;
}
.div_header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
ol,ul{
  margin: 0px;
  display: flex;
  list-style-type: none;
  padding: 0px;
  justify-content: flex-end;
  text-transform: capitalize;
}
li {
  margin: 0px 10px ;
}

li a{
text-transform:capitalize ;
    
}
.header,.hero{
  background-color:#1b2127;
  color : #fff;
  margin:0px;
}
.header a {
  text-decoration:none;
  color: #fff;
}
.all-content{
  border-left-width: 10px;
  border-left-color: #026FFF ;
  border-left-style: solid;
  padding-top: 5%;

}
h1{
  font-size: 40px ;
  line-height: 1.5;
  letter-spacing: -2;
  margin: 0px;

}
.hero {
  height: auto;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  font-weight: 300;
  display:flex;
  flex-wrap:wrap;
}
.hero strong {
  color: #026fff;
}
.hero h1{
  width: 500px;
}

.hero img{
    Width:350px;
}
.briefcase{
  margin: 5%  ;
  display: flex;
  background-color: white;
  text-align: justify;
  padding: 5%;
  border: 2px solid rgb(131, 124, 124) ;
  border-radius: 15px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.descripcion-briefcase{
  width: 500px;
  height: 400px;
  margin: 0;
}
.briefcase img
{
  width: 400px;
  height: 50% ;
}
.content-box{
  display: flex;
  justify-content: space-evenly;
}
.box{
  width: 50px;
  height:50px;
  border:1px solid black;

}
.event-text{
  background-image: url("https://static.platzi.com/media/tmp/class-files/git/desarrollo-web-portafolio/desarrollo-web-portafolio-9af19a0a0fcd9fb6a66c3831cca6aaebf3328762/images/platzi-conf.jpg");
  background-repeat: no-repeat;
  background-size:contain;
  padding: 50px;
  width: 300px;
}
.event-text div{
  background-color:#fff;

}